 /* Animation */
 :root {
  --animate-delay: 3s;
}

/*All Headers */
h1 {
  text-align: center;
  font-size: 45px;
  color: white;
  text-shadow: 1px 1px 2px #F38181, 0 0 25px #FCE38A, 0 0 5px #95E1D3;
}
h2 {
  text-align: center;
  font-size: 35px;
  color: white;
  text-shadow: 1px 1px 2px #F38181, 0 0 25px #FCE38A, 0 0 5px #95E1D3;
}
h3 {
  text-align: center;
  font-size: 25;
  font-style: bold;
  text-shadow: 1px 1px 2px #F38181, 0 0 25px #FCE38A, 0 0 5px #95E1D3;
}
/* Paragraph */
p {
  font-size: 20px;
  text-align: center;
}

/*Background colors*/
body {
  background-color:hsla(167,55%,73%,1);
  background-image:
  radial-gradient(at 19% 80%, hsla(22,100%,77%,1) 0px, transparent 50%),
  radial-gradient(at 52% 51%, hsla(0,82%,72%,1) 0px, transparent 50%),
  radial-gradient(at 91% 9%, hsla(46,95%,76%,1) 0px, transparent 50%),
  radial-gradient(at 98% 63%, hsla(150,33%,59%,1) 0px, transparent 50%);
}

.App {
  max-width: 860px;
  margin: 40px auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
/* Button styling */
button {
  background: none;
  border: 2.5px solid #FCE38A;
  padding: 4px;
  margin: 4px;
  margin-bottom: 5px;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  
}

button:hover {
  background: #FCE38A;
  color: white;
}
/*Images on Homepage*/
.picture {
width: 30%;
height: 10%;
}
.square:hover {
  filter: blur(5px);
}
.square:hover{
  filter: grayscale(1);
}
/* .square:hover {
  transform: scale(1.1);
} */
.square > .content.fade {
  opacity: 0;
}
.square:hover > .content.fade {
  opacity: 1;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}


.cards {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 30px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 0.7em;
  }
  h2 {
    font-size: 0.6em;
  }
}

/* 
.inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.6s cubic-bezier(0.38, 0.02, 0.09, 1.66) all;
}

.hero-card .front,
.hero-card .back {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.hero-card .front {
  background: #fff;
  transform: rotateY(180deg);
}

.hero-card .back {
  background: #2fbdc2;
  color: #eb4b66;
  font-size: 100px;
  transition: 0.3s ease all;
}

.hero-card .back:hover {
  background: #f2657f;
  color: #fff;
  transform: scale(1.02);
} */
.github {
  color: white;
  padding: 5px;
}
.linkedin {
  color: white;
}

.irais {
  border: 2px solid #ddd;
  border-radius: 100px;
  border-style:groove;
  padding: 5px;
  width: 150px;
  height: auto;
  margin: 3rem;
  align-items: center;
}