 :root {
  --animate-delay: 3s;
}

h1 {
  text-align: center;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  font-display: inherit;
  text-align: center;
}

 .square {
  height: 180px;
  width: 200px;
  margin: auto;
  background-color: rgb(114, 201, 255);
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

body {
  margin: 0;
  margin-bottom: 25rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


/* .square > img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
} */

.square > .content {
  position: absolute;
  inset: 0;
  font-size: 2rem;
  padding: 1rem;
  background: rgba(255, 255, 255, .4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:hover {
  filter: blur(5px);
}

.square:hover{
  filter: grayscale(1);
}

.square:hover {
  transform: scale(1.1);
}

.square > .content.fade {
  opacity: 0;
}
.square:hover > .content.fade {
  opacity: 1;
}

.square > .content.slide-left {
  transform: translateX(-100%);
}
.square:hover > .content.slide-left {
  transform: translateX(0);
}

.square > .content.slide-right {
  transform: translateX(100%);
}
.square:hover > .content.slide-right {
  transform: translateX(0);
}

.square > .content.slide-down {
  transform: translateY(-100%);
}
.square:hover > .content.slide-down {
  transform: translateY(0);
}

.square > .content.slide-up {
  transform: translateY(100%);
}
.square:hover > .content.slide-up {
  transform: translateY(0);
}

img{
  align-items: center;
  height: 100%;
  width: 100%;
}