 :root {
  --animate-delay: 3s;
}

h1 {
  text-align: center;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  font-display: inherit;
  text-align: center;
}

 .square {
  height: 180px;
  width: 200px;
  margin: auto;
  background-color: rgb(114, 201, 255);
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

body {
  margin: 0;
  margin-bottom: 25rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


/* .square > img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
} */

.square > .content {
  position: absolute;
  inset: 0;
  font-size: 2rem;
  padding: 1rem;
  background: rgba(255, 255, 255, .4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:hover {
  filter: blur(5px);
}

.square:hover{
  filter: grayscale(1);
}

.square:hover {
  transform: scale(1.1);
}

.square > .content.fade {
  opacity: 0;
}
.square:hover > .content.fade {
  opacity: 1;
}

.square > .content.slide-left {
  transform: translateX(-100%);
}
.square:hover > .content.slide-left {
  transform: translateX(0);
}

.square > .content.slide-right {
  transform: translateX(100%);
}
.square:hover > .content.slide-right {
  transform: translateX(0);
}

.square > .content.slide-down {
  transform: translateY(-100%);
}
.square:hover > .content.slide-down {
  transform: translateY(0);
}

.square > .content.slide-up {
  transform: translateY(100%);
}
.square:hover > .content.slide-up {
  transform: translateY(0);
}

img{
  align-items: center;
  height: 30%;
  width: 30%;
}
.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

/* * {
  box-sizing: border-box;
}

body {
  background: #d0e0e6;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  line-height: 1;
  font-family: "Patrick Hand", sans-serif;
}

p {
  text-align: right;
  font-size: 50px;
  color: #999;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 10px;
}

p strong {
  font-size: 14px;
  color: #777;
}

.cards {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 20px;
}

.hero-card {
  height: 180px;
  width: 180px;
  border-radius: 2px;
  background: #000;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.hero-card.flipped .inner {
  transform: rotateY(180deg);
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.6s cubic-bezier(0.38, 0.02, 0.09, 1.66) all;
}

.hero-card .front,
.hero-card .back {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.hero-card .front {
  background: #fff;
  transform: rotateY(180deg);
}

.hero-card .back {
  background: #2fbdc2;
  color: #eb4b66;
  font-size: 100px;
  transition: 0.3s ease all;
}

.hero-card .back:hover {
  background: #f2657f;
  color: #fff;
  transform: scale(1.02);
} */
